body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #003C71;
}

.caja
{
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #061e26;
    text-align: center;
}

.caja h1
{
    color:azure;
    font-size: 16px;
    text-transform: uppercase;
}

.caja input[type = "text"], .caja input[type = "text"]
{
    border: 0;
    background: none; /*Se elimina el fondo original del recuadro*/
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #003C71;
    padding: 14px 10px;
    width: 200px;
    /*Texto interior*/
    outline: none;
    color: azure;
    /*Borde*/
    border-radius: 24px;
    transition: 0.25s;
}
/*Valida la animación "transition"*/
.caja input[type = "text"]:focus, .caja input[type = "text"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}

.caja input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: azure;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.caja input[type="submit"]:hover
{
    background: #2ecc71;
    color: black;
}

.caja output[type="number"]
{
    color: #2ecc71;
    font-size: 40px;
}