<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- CARPETA CSS -->
    <link rel="stylesheet" href="static/css/Main.css">

    <title>Registro LatinRunner</title>
</head>

<body>
    <form class="caja" action="/usuario" method="post">

        <h1>BD NoSQL</h1>
        
        <input type="text" name="Nombre" value="" placeholder="Ingresa tú nombre">        
        <input type="text" name="apellido" value="" placeholder="Ingresa tú apellido">
        <input type="email" name="email" value="" placeholder="Ingresa tú correo elecrtronico">
        <input type="submit" name="" value="Enviar">

    </form>
</body>
</html>